.cart-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 10%;
    padding-bottom: 4rem;
    background-color: var(--clr-background);
}

.header-cart {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(#0D0F13);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hamburger-icon {
    width: 40px;
    height: 40px;
}

.logo-icon {
    width: 72px;
    margin-top: 1rem;
}

.main-cart {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text {
    color: var(--clr-primary-text);
    font-family: var(--text-quintessential);
    font-size: 2rem;
    transform: translateY(20px);
}

.main-filter {
    width: 100%;
    display: flex;
    gap: .6rem;
    align-items: center;
}

.main-heading {
    color: var(--clr-primary-text);
    font-size: 32px;
    font-family: 'Protest Revolution', sans-serif;
    font-weight: 300;
}

.btn-pris,
.btn-az {
    background-color: var(--clr-red-button);
    color: var( --clr-primary-text);
    border-radius: 5px;
    width: 67px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.main-line {
    width: 100%;
    height: 2px;
    background-color: var(--clr-dark-gray);
}


.footer-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--clr-background);
    padding: 1rem 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-cart button {
    padding: 0.28rem 1.4rem;
    font-size: 1.4rem;
    font-family: var(--text-poly);
    background-color: #28A745;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .cart-page {
        padding: 4rem 5%;
    }
    .main-text {
        color: var(--clr-primary-text);
        font-family: var(--text-quintessential);
        font-size: 2rem;
        transform: translateY(-10px);
    }
}

@media (max-width: 480px) {

    .btn-pris,
    .btn-az {
        width: 90px;
    }

    .info-product {
        width: 20%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .text-product,
    p {
        color: var(--clr-primary-text);
        font-size: 14px;
        font-weight: 300;
    }

    .info-product img {
        width: 60%;
        max-width: 80px;
        height: 130%;
    }
}