.edit-items-page {
  height: 100vh;
  text-align: center;
  background-color: var(--clr-background);
  font-family: var(--text-poly);
}

.edit-items-page__title {
  color: var(--clr-primary-text);
  padding: 50px;
}

.edit-items-page__title::before {
}

.edit-items-page__title::after {
}

.edit-items-page__details {
  background-color: var(--clr-secondery-text);
  width: 250px;
  height: 350px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.edit-items-page__order-list {
}

.edit-items-page__order-item {
}

.edit-items-page__order-item::before {
}

.edit-items-page__order-item::after {
}

.edit-items-page__order-item:hover {
}

.edit-items-page__order-item-label {
}

.edit-items-page__order-item-label::before {
}

.edit-items-page__order-item-label::after {
}

.edit-items-page__order-item-button {
  color: var(--clr-secondery-text);
  background-color: var(--clr-red-button);
}

.edit-items-page__order-item-button::before {
}

.edit-items-page__order-item-button::after {
}

.edit-items-page__order-item-button:hover {
}
