.add-item-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  background-color: var(--clr-background);
  color: var(--clr-primary-text);
  font-family: var(--text-poly);
}
.add-item-page__title {
  color: var(--clr-primary-text);
}

.add-item-page__subtitle {
  color: var(--clr-secondery-text);
}

.add-item-page__drag-and-drop {
  width: 768px;
  height: 114px;
  background-color: var(--clr-dark-gray);
  border: 2px dashed var(--clir-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-secondery-text);
  font-family: var(--text-poly);
}

.add-item-page__file-info {
  color: var(--clr-secondery-text);
}

.add-item-page__input_name {
  width: 768px;
  height: 28px;
  padding: 10px;
  background-color: var(--clir-light-gray);
  border: none;
  border-radius: 5px;
  color: var(--clr-primary-text);
}

.add-item-page__input_price {
  width: 260px;
  height: 28px;
  padding: 10px;
  background-color: var(--clir-light-gray);
  border: none;
  border-radius: 5px;
  color: var(--clr-primary-text);
}

.add-item-page__input::before,
.add-item-page__input::after {
}

.add-item-page__button {
  width: 150px;
  padding: 10px;
  background-color: var(--clr-green);
  color: var(--clr-primary-text);
  border: none;
  border-radius: 5px;
  font-family: var(--text-poly);
  cursor: pointer;
}

.add-item-page__button::before,
.add-item-page__button::after {
}

.add-item-page__section {
}
