@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&family=Protest+Revolution&family=Protest+Riot&family=Quintessential&display=swap');

:root {
  --clr-background: #0D0F13;
  --clr-red-button: #C70039;
  --clr-cream: #FFBD69;
  --clr-green: #28A745;
  --clr-primary-text: #FFFFFF;
  --clr-secondery-text: #D1D1D1;
  --clr-dark-gray: #68748F37;
  --clir-light-gray: #68748F1A;

  --text-revolution: "Protest Revolution", sans-serif;
  --text-riot: "Protest Riot", sans-serif;
  --text-poly: "Poly", serif;
  --text-quintessential: "Quintessential", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}