.all-orders-page {
  height: 100vh;
  text-align: center;
  background-color: var(--clr-background);
}

.all-orders-page__title {
  color: var(--clr-primary-text);
  font-family: var(--text-poly);
  padding: 75px;
}
.all-orders-page_contentwrapper {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 1rem;
}
.all-orders-page_contentwrapper_2 {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 25px;
}
.all-orders-page__list {
}

.all-orders-page__list-item {
}
.all-orders-page__list-item-label {
  color: var(--clr-secondery-text);
  font-family: var(--text-revolution);
}

.all-orders-page__checkbox {
}

.all-orders-page__list-item::before {
}

.all-orders-page__list-item::after {
}

.all-orders-page__list-item:hover {
}

.all-orders-page__checkbox::before {
}

.all-orders-page__checkbox::after {
}

.all-orders-page__checkbox:hover {
}

.all-orders-page__button--edit-order,
.all-orders-page__button--special-requests {
  background-color: var(--clr-red-button);
  font-family: var(--text-revolution);
  height: 40px;
  width: 210px;
}

.all-orders-page__button--az {
  background-color: var(--clr-red-button);
  font-family: var(--text-poly);
  height: 25px;
  width: 70px;
}

.all-orders-page__button--price {
  background-color: var(--clr-red-button);
  font-family: var(--text-poly);
  height: 25px;
  width: 70px;
}

.all-orders-page__button--locked-orders {
  background-color: var(--clr-red-button);
  font-family: var(--text-poly);
  height: 25px;
  width: 145px;
}

.all-orders-page__button--edit-order:hover {
}

.all-orders-page__button--special-requests:hover {
}

.all-orders-page__button--az:hover {
}

.all-orders-page__button--price:hover {
}

.all-orders-page__button--locked-orders:hover {
}
