.single-order-page {
  height: 100vh;
  text-align: center;
  background-color: var(--clr-background);
  font-family: var(--text-poly);
}

.single-order-page__hbmenu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 4px;
  background-color: var(--clr-secondery-text);
  cursor: pointer;
}

.single-order-page__hbmenu::before,
.single-order-page__hbmenu::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--clr-secondery-text);
  position: absolute;
  left: 0;
}
.single-order-page__hbmenu::before {
  top: -10px;
}

.single-order-page__hbmenu::after {
  top: 10px;
}

.single-order-page__heading {
  color: var(--clr-primary-text);
}

.single-order-page__details {
  background-color: var(--clr-secondery-text);
}

.single-order-page__order-title {
}

.single-order-page__order-list {
}

.single-order-page__order-item {
}
.single-order-page__order-item:hover {
}

.single-order-page__order-item::before {
}

.single-order-page__order-item::after {
}

.single-order-page__order-item-label {
}
.single-order-page__order-item-label:hover {
}

.single-order-page__order-item-label::before {
}

.single-order-page__order-item-label::after {
}

.single-order-page__wishlist-title {
}

.single-order-page__wishlist-text {
}

.single-order-page__total {
}
.single-order-page__total:hover {
}

.single-order-page__total::before {
}

.single-order-page__total::after {
}
