.single-order-page {
  height: 100vh;
  width: 100%;
  background-color: var(--clr-background);
  text-align: center;
  padding: 25px;
}

.single-order-page__heading {
  background-color: var(--clr-background);
  font-family: var(--text-poly);
  text-align: center;
  color: var(--clr-secondery-text);
  font-weight: 36px;
  padding: 25px;
}
