.menu__food-card {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
        max-width: 175px;

    footer {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    figure {
        width: 175px;
        height: 250px;
        overflow: hidden;
        border-radius: 16px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    h4 {
        font-family: var(--text-quintessential);
        font-size: 24px;
        font-weight: 300;
        margin-top: 5px;

    }

    p {
        font-family: var(--text-poly);
        font-size: 22px;
        font-weight: 300;
    }

    button {
        background-color: var(--clr-red-button);
        color: var(--clr-primary-text);
        border: none;
        border-radius: 20px;
        padding: 6px;
        width: 120px;
        font-size: 18px;
        cursor: pointer;
        transition: 0.2s;
    }
    button:hover {
        transform: scale(1.1);
    }
    button:active {
        transform: scale(0.9);
    }
}
/*
@media screen and (max-width: 1000px) {
    .menu__food-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 410px;
    }
}
    */