.admin-page {
  height: 100vh;
  text-align: center;
  background-color: var(--clr-background);
  font-family: var(--text-poly);
}

.admin-page__heading {
  color: var(--clr-primary-text);
  padding: 75px;
}
.admin-page__heading:hover {
}

.admin-page__heading::before {
}

.admin-page__heading::after {
}
