.update-page {
  height: 100vh;
  text-align: center;
  background-color: var(--clr-background);
  font-family: var(--text-poly);
  display: grid;
}

.update-page__heading {
  color: var(--clr-primary-text);
}

.update-page__button {
  width: 210px;
  height: 40px;
  font-family: var(--text-poly);
  background-color: var(--clr-red-button);
  color: var(--clr-primary-text);
}
.update-page__button:hover {
}

.update-page__button::before {
}

.update-page__button::after {
}
