.profile-page {
  height: 100vh;
  text-align: center;
  background-color: var(--clr-background);
  font-family: var(--text-poly);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  padding: 3rem;
}

.profile-page__heading {
  color: var(--clr-primary-text);
  margin: 0;
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--clr-primary-text);
  padding: 4rem;
}
.profile-page__heading:hover {
}

.profile-page__heading::before {
}

.profile-page__heading::after {
}
