.start-page {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: var(--clr-background);
  font-family: var(--text-revolution);
  padding: 80px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
}

.start-page__heading {
  color: var(--clr-primary-text);
  font-size: 56px;
  font-weight: 300;
  text-decoration: none;
}

a {
  text-decoration: none;
}
.start-page__heading:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
}

.start-page__heading::before,
.start-page__heading::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  transition: background 0.3s ease;
}

.start-page__heading:hover::before,
.start-page__heading:hover::after {
  background-color: cyan;
  content: "Vi är Bäst!";
  transition: 2s ease-in-out;
  color: hotpink;
  transform: scale(1, 2);
}
