.order-page {
  height: 100vh;
  text-align: center;
  background-color: var(--clr-background);
  font-family: var(--text-poly);
}

.order-page__title {
  color: var(--clr-primary-text);
}

.order-page__list {
  color: var(--clr-primary-text);
}

.order-page__list-item {
}
.order-page__list-item:hover {
}

.order-page__list-item::before {
}

.order-page__list-item::after {
}

.order-page__list-item-label {
}
.order-page__list-item-label:hover {
}

.order-page__list-item-label::before {
}

.order-page__list-item-label::after {
}

.order-page__checkbox {
}
.order-page__checkbox:hover {
}

.order-page__checkbox::before {
}

.order-page__checkbox::after {
}
.order-page__number {
  background-color: var(--clr-secondery-text);
  width: 30px;
  height: 30px;
}
